body {
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

/* header */
header {
  padding: 45px 60px 20px 60px;
  height: 729px;
  background-image: url("/images/background_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

/* headings */
h1 {
  font-size: 75px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  letter-spacing: -0.45px;
  margin: 5px;
}

h4 {
  font-size: 16px;
  font-family: "droid-serif";
  color: #777777;
}

h5 {
  font-size: 14px;
  font-family: "droid-serif";
  color: #737373;
  margin: 5px;
}

h6 {
  font-family: "droid-serif";
  font-size: 36px;
  letter-spacing: -1px;
}

/* nav */
nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 30px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* services & portfolio*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

#services {
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 30px;
}

#portfolio {
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 30px;
}

#services .card {
  margin: 10px;
  padding: 0;
  width: 274px;
  height: 184px;
}

#portfolio .card {
  width: 291px;
  min-height: 393px;
  font-size: 50px;
  background-color: #fff;
  margin: 15px;
}

.card p {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  letter-spacing: -0.35px;
}

.fa-stack {
  color: #fed136;
  font-size: 35px;
}

/* Footer */
footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  margin: 20px 0 20px -400px;
  padding: 0;
}

.social {
  margin-left: 40px;
  letter-spacing: 8px;
}

.fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  background-color: #222222;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn {
  background-color: #fed136;
  text-transform: uppercase;
  width: 240px;
  height: 65px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1.88px;
  display: inline-block;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

/* Media */
@media (max-width: 767px) {
  footer {
    display: inline;
    text-align: center;
    margin: 0;
  }

  .social {
    margin: 0;
  }

  header {
    height: auto;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 2em;
  }

  nav {
    display: inline;
  }

  li {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
