$color: #ffffff;
$color-2: #fed136;
$font-family-1: 'Montserrat';
$font-family-2: 'Roboto Slab';
$font-family-3: 'droid-serif';

body {
    background-color: $color;
    font-family: $font-family-1;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* header */
header {
    height: 729px;
    background-image: url("/images/Background_Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $color;

}

h6 {
    font-family: $font-family-3;
    font-size: 36px;
    letter-spacing: -1px;
}

h1 {
    font-size: 75px;
    text-transform: uppercase;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/* section */
h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h3 {
    // Style for "E-Commerce"
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    letter-spacing: -0.45px;
}

h4 {
    font-size: 16px;
    font-family: $font-family-3;
    color: #777777;
}

h5 {
    font-size: 14px;
    font-family: $font-family-3;
    color: #737373;
}

#services {
    text-align: center;
    height: min-content;
}

#portfolio {
    background-color: #f7f7f7;
    text-align: center;
    height: 1218px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services .card {
    margin: 0;
    padding: 0;
    width: 274px;
    height: 184px;
}

#portfolio. card {
    width: 291px;
    min-height: 393px;
    font-size: 50px;
}


.card p {
    color: #777777;
    font-family: $font-family-2;
    font-size: 14px;
    letter-spacing: -0.35px;


}

.fa-stack {
    color: $color-2;
    font-size: 35px;
    padding: 3px;

}

// footer
footer {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
}

.social i {
    width: 41px;
    height: 40px;

}

.social {}

.fab {
    width: 40px;
    height: 40px;

    font-size: 16px;
    background-color: #972d2d;
    color: #ffffff;

}


.btn {
    background-color: $color-2;
    text-transform: uppercase;
    width: 240px;
    height: 65px;
    font-size: 18px;
    font-weight: 700px;
    border-radius: 5px;
    letter-spacing: -1.88px;
    display: inline-block;

}





footer,
nav,
.card,
section,
img,
div {
    border: 1px solid;
}

/* Media */
/* @media (max-width: 767px) {
    .row {
      flex-direction: column;
    align-items: center; } */